<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="fangpu_terminal.Properties.TerminalParameters" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="fangpu_terminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <fangpu_terminal.Properties.TerminalParameters>
      <setting name="terminal_server_port" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="plc1_tcp_ip" serializeAs="String">
        <value>192.168.2.1</value>
      </setting>
      <setting name="plc1_tcp_port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="plc2_tcp_ip" serializeAs="String">
        <value>192.168.2.2</value>
      </setting>
      <setting name="plc2_tcp_port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="localdatapath" serializeAs="String">
        <value>data\datalocal.db</value>
      </setting>
      <setting name="plc_com_port" serializeAs="String">
        <value>COM12</value>
      </setting>
      <setting name="plc_com_baudrate" serializeAs="String">
        <value>187500</value>
      </setting>
      <setting name="terminal_id" serializeAs="String">
        <value>4D1</value>
      </setting>
      <setting name="heart_connect_interval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="terminal_name" serializeAs="String">
        <value>4D1</value>
      </setting>
      <setting name="terminal_server_ip" serializeAs="String">
        <value>192.168.0.53</value>
      </setting>
    </fangpu_terminal.Properties.TerminalParameters>
    <fangpu_terminal.Properties.Settings>
      <setting name="terminal_server_ip" serializeAs="String">
        <value>118.123.201.217</value>
      </setting>
      <setting name="terminal_server_port" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="plc1_tcp_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="plc1_tcp_port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="plc2_tcp_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="plc2_tcp_port" serializeAs="String">
        <value>0</value>
      </setting>
    </fangpu_terminal.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
 
<connectionStrings><add name="FangpuDatacenterModelEntities" connectionString="metadata=res://*/FangpuDataCenter.csdl|res://*/FangpuDataCenter.ssdl|res://*/FangpuDataCenter.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.53;password=tianheng123;user id=root;persistsecurityinfo=True;database=fangpu_datacenter;convertzerodatetime=True;allowzerodatetime=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>